.DS_Store
bioinformatics_freecodecamp/README.md
bioinformatics_freecodecamp/acetylcholinesterase_01_bioactivity_data_raw.csv
bioinformatics_freecodecamp/acetylcholinesterase_02_bioactivity_data_preprocessed.csv
bioinformatics_freecodecamp/acetylcholinesterase_03_bioactivity_data_curated.csv
bioinformatics_freecodecamp/acetylcholinesterase_04_bioactivity_data_3class_pIC50.csv
bioinformatics_freecodecamp/acetylcholinesterase_05_bioactivity_data_2class_pIC50.csv
bioinformatics_freecodecamp/acetylcholinesterase_06_bioactivity_data_3class_pIC50_pubchem_fp.csv
bioinformatics_freecodecamp/acetylcholinesterase_07_bioactivity_data_2class_pIC50_pubchem_fp.csv
mantamonis_sorter.py
process_mantamonis.py
READ_ME.md
.ipynb_checkpoints
Mantamonis_bacterial_contamination_analysis.xlsx
